
@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');
@import "tailwindcss";
.body {
  margin: 0px;
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'PP Neue Montreal', sans-serif; /* Set global font */
}
.ant-table-container {
  border-left: none !important;
  border-right: none !important;
}
.ant-btn {
  font-family: 'PP Neue Montreal', sans-serif; 
}

.ant-table {
  font-family: 'PP Neue Montreal', sans-serif !important;
  font-size: 16px !important;
  font-weight: 450px !important; 
}
.ant-tabs {
  font-family: 'PP Neue Montreal', sans-serif !important; 
}
.ant-slider {
  font-family: 'PP Neue Montreal', sans-serif !important; 
}
:where(.ant-table) {
  border-left: none !important;
  border-right: none !important;
}
#root { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Mendorong footer ke bawah */
}
.ant-table-thead > tr > th {
  padding: 12px !important;
  border: none !important;
  font-weight: 800 !important;
  font-size: 16px !important;

} 
.ant-table-tbody > tr > td {
  border-left: none !important;
  border-right: none !important;
  
  
} 
